
<div class="home-banner">
  <h1>Save any kind of movies</h1>
  <h3>Create a new list</h3>
</div>

<div class="container text-center ">
  <div class="row justify-content-center">
    <div class="col-6">


    <h1  style="padding: 30px">Lists</h1>

    <% @lists.each do |list| %>
    <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.picture_url %>)">
      <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>

    <%= link_to 'New List', new_list_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
